$primary1: #fffae1;
$primary2: #feedad;
$primary3: #fee083;
$primary4: #fed365;
$primary5: #febf32;
$primary6: #da9c24;
$primary7: #b67c19;
$primary8: #935e0f;

$blue1: #e2f0ff;
$blue2: #c5dfff;
$blue3: #a9cdff;
$blue4: #93bdff;
$blue5: #5f97ff;
$blue6: #517ddb;
$blue7: #385bb7;
$blue8: #233e93;

$yellow1: #fffacd;
$yellow2: #fff39b;
$yellow3: #ffeb69;
$yellow4: #ffe243;
$yellow5: #ffd505;
$yellow6: #dbb303;
$yellow7: #b79202;
$yellow8: #937301;

$green1: #eefde2;
$green2: #d8fcc5;
$green3: #bcf6a6;
$green4: #a0ed8d;
$green5: #76e268;
$green6: #50c24c;
$green7: #34a239;
$green8: #21832d;

$red1: #fdeded;
$red2: #fbdadc;
$red3: #f5a3a7;
$red4: #ef6b72;
$red5: #ea3943;
$red6: #e8212b;
$red7: #cb151e;
$red8: #941016;

$turquoise1: #dafee9;
$turquoise2: #b5fddb;
$turquoise3: #8ffad2;
$turquoise4: #72f6d1;
$turquoise5: #45f0d1;
$turquoise6: #32cec0;
$turquoise7: #22abac;
$turquoise8: #167f8b;

$grey1: #fbfcff;
$grey2: #f6f7fa;
$grey3: #f3f4f7;
$grey4: #e7e8ee;
$grey5: #dbdde6;
$grey6: #cfd1dd;
$grey7: #c3c6d5;
$grey8: #b7bbcc;
$grey9: #abafc4;
$grey10: #a0a4bb;
$grey11: #9498b3;
$grey12: #888daa;
$grey13: #7c81a2;
$grey14: #707699;
$grey15: #666c8f;
$grey16: #5d6383;
$grey17: #555a77;
$grey18: #4c516b;
$grey19: #44485f;
$grey20: #3b3f54;
$grey21: #323546;
$grey22: #2a2d3c;
$grey23: #222531;
$grey24: #17171a;
$mask: #222531ee;
